.header{
    width: 80%;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
header{
    background-color:darkgray;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    color: black;
}
a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
body{
    background-color: white;
}
.wrapper{
    width: 80%;
    margin: auto;
    background-color: lightgrey;
}
.mybaby{
    background-color: orange;
}
.queen{
    background-color: blue;
    
}

.imbd{
    display: flex;
    flex-direction: column;
    
}

.videoland{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.nlfilm{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.link{
    width: 80%; 
}

.p{
    display: flex;
    justify-content: center;
}

.bluepage{
    background-color:dodgerblue;
}