*{
    margin: 0;
    padding: 0;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    color: black;
}
a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
body{
    background-color: white;
}
.wrapper{
    width: 60%;
    margin: auto;
    background-color: white;
}
.mybaby{
    background-color: orange;
    text-align: center;
}


.snor{
  display: flex;
  justify-content: center;
}

.imbd{
    display: flex;
    flex-direction: column;
    
}


.videoland{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.nlfilm{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.link{
    width: 80%; 
}

p{
    align-items: center;
}

.bluepage{
    background-color: #4682b4;
}
.greenpage{
  background-color:#317f43;
}

.yellowpage{
  background-color: yellow;
}

.songteksten{
  display: grid;
    column-gap: 5mm;
    row-gap: 5mm;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-area: songteksten;
    grid-template-areas:
      "songteksten"
    ;
  
}
.gereedschap{
  display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hamers" "cirkelzagen"
      ""       "kettingzagen"
    ;
  
}
.hamers{
  grid-area: hamers;
}
.cirkelzagen{
  grid-area: cirkelzagen;
}
.kettingzagen{
  grid-area: kettinzagen;
}

.acteurs{
  display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "darth" "timothy"
      "luke"       ""
    ;
}
  .dart{
    grid-area: darth;

  }
  .luke{
    grid-area: luke;
  }
.timothy{
  grid-area: timothy
}

/* nav */
header{
    background-color: lightgrey;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
         box-shadow: 0 8px 6px -6px #999;
    padding: 25px;
    display: flex;
    justify-content: end;
    margin: 20px;
    border-radius: 15px;
}

.links{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: end;
}
.logo{
    
    display: flex;
    justify-content: start;
}

#demo {
  margin: 30px 0 50px 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#demo .wrapper {
  display: inline-block;
  width: 180px;
  margin: 0 10px 0 0;
  height: 20px;
  position: relative;
}

#demo .parent {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  border-radius: 5px;
  background: #F9F9F9;
  border: 1px solid #AAA;
  border-bottom: 1px solid #777;
  color: #282D31;
  font-weight: bold;
  z-index: 2;
  position: relative;
  -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
  -webkit-transition-delay: .8s;
  text-align: center;
}

#demo .parent:hover,
#demo .content:hover~.parent {
  background: #fff;
  -webkit-transition-delay: 0s, 0s, 0s;
}

#demo .content:hover~.parent {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 0;
}

#demo .content {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  height: 0;
  width: 180px;
  padding-top: 30px;
  -webkit-transition: height .5s ease;
  -webkit-transition-delay: .4s;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}

#demo .wrapper:active .content {
  height: 500px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}

#demo .content:hover {
  height: 500px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}

#demo .content ul {
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


#demo .content ul a {
  text-decoration: none;
}

#demo .content li:hover {
  background: #eee;
  color: #333;
}

#demo .content li {
  list-style: none;
  text-align: left;
  color: #888;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  padding-left: 10px;
  border-top: 1px solid #ccc;
}

#demo .content li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* einde nav */

.container{
  background: #222;
  color: white;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  justify-content: space-between;

}
.text{
  display: flex ;
  justify-content: start;
}
.james{
  display: flex;
  justify-content: end;
}

.uprise{
  display: flex;
  justify-content: center;
}


.orangepage{
  background-color: #b97d4b;
}
.datum_tijd {
    height: 100px;
    width: 65%;
    line-height: 100px;  
    margin: 50px auto 0;
    padding: 0 50px;
    background: #222;
    color: #eee;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px rgb(0, 0, 0);
    text-shadow: 0 0 3px #fff;
  }
.redpage{
  background-color: #cc0000;
}


p{
  font-weight: bold;
  font-size: 25px;
}




.contact{
  background: #222;
  color: white;
  border-radius: 15px;
  padding: 15px;

  margin: 150px;

}
p{
  margin-bottom: 100px;
}

.contact2{
  background: grey ;
    clear: both;
    margin-top: 100;
    position: fixed;
    z-index: 10;
    height: 72px;
    margin-top: -72px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0%;
}
.div{
width: 70%;
display: flex;
justify-content: center;
margin: auto;
}

.logo img{
  	width: 800px;
    box-shadow: 0 0 7px rgb(0, 0, 0);
    text-shadow: 0 0 3px #fff;

}
.fullmybaby{
  margin-left: 300px;

  margin-right: 300px;
}
.fullqueen1{
  margin-left: 300px;

  margin-right: 300px;
}
.fullqueen2{
  margin-left: 300px;

  margin-right: 300px;
}
.songteksten a{
  background-color: lightgrey;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
}
.gereedschap a{
  background-color: lightgrey;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
}
.gereedschap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.acteurs a{
  background-color: lightgrey;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
}
.acteurs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.muse{
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    border: 10px solid #8f8f8f;
    width: 750px;
    margin-left: 600px;
    margin-top: 50px;
    box-shadow:20px 20px 50px 15px grey; 

}
.luke{
  padding: 15px;
}

.songtext p{
  text-align: center;
  margin-top: 150px;
}

.fullmybaby{
  border: solid 10px;
  display: flex;
  justify-content: center;
}

.queen{
  border: solid 10px;
  display: flex;
  justify-content: 	center;
}

.Muse{
  border: solid 10px;
  display: flex;
  justify-content: 	center;
}
